@layer project {
    div[is^="header"] {
        text-align: left;
        min-width: 7in;
    }

    div[is^="header"] img {
        float: left;
        height: 5lh;
        margin-right: 10px;
    }

    div[is^="header"] *[is="title"] {
        font-size: 3em;
        font-weight: bold;
        width: 100%;
    }


    div[is^="header"] img {
        margin-left: 0px;
    }

    div[is^="header"] p {
        float: left;
        font-weight: bold;
    }
    
    div[is^="header"] p[is^="HNJ"] {
        float: left;
        font-weight: bold;
    }

    div[is^="header"] p[is^="mass"] {
        float: right;
        font-weight: 400;
        font-style: italic;
        text-decoration: underline;
    }

    div[is^="header"] p[is^="prelude"] {
        float: left;
        font-weight: 400;
        font-style: italic;
        margin-left: 0.25in;
    }
}